<html>
<head>
	<title>Input Budaya</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body width=100%>
	<div class="container">
		<h1> Edit Budaya Item </h1>
		{% with messages = get_flashed_messages()%}
			<ul>
			{% for m in messages %}
				<li>{{m}}</li>	
			{% endfor %}
			</ul>
		{% endwith %}

		<form action="{{url_for('moderationtool_detail_edit', item_id = item.id)}}" method = 'POST' enctype = "multipart/form-data">
			<table class="table table-hover">
				<tr>
					<td><p>Name:</p></td>
					<td><input type='text' size='30' class="form-control" name='name' placeholder="{{item.name}}"><td>
				</tr>

				<tr>
					<td><p>Description:</p></td>
					<td><textarea size='30' class="form-control" rows="5" name='description' placeholder="{{item.description}}"></textarea></td>
				</tr>

				<tr>
					<td><p>Province:</p></td>
					<td>
						{{item.province.friendly_name}}
					</td>
				</tr>

				<tr>
					<td><p>Category:</p></td>
					<td>
						{{item.categories.friendly_name}}
					</td>
				</tr>
				
				<tr>
					<td><p>Google Search Term</p></td>
					<td><input placeholder = "{{item.google_search_term}}" type='text' size='30' class="form-control" name='google_search_term' width=100%></td>
				</tr>

				<tr>
					<td><input class="btn btn-primary" type='submit' value='Update'></td>
					<td><a href="{{url_for('moderationtool_detail_delete', item_id=item.id)}}">Delete</a></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>