<html>
<head>
	<title>Input Budaya</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body width=100%>
	<div class="container">
		<h1> Add Budaya Item </h1>
		{% with messages = get_flashed_messages()%}
			<ul>
			{% for m in messages %}
				<li>{{m}}</li>	
			{% endfor %}
			</ul>
		{% endwith %}

		<form action="{{url_for('add_budaya')}}" method = 'POST' enctype = "multipart/form-data">
			<table class="table table-hover">
				<tr>
					<td><p>Name:</p></td>
					<td><input type='text' size='30' class="form-control" name='name'><td>
				</tr>

				<tr>
					<td><p>Description:</p></td>
					<td><textarea size='30' class="form-control" rows="5" name='description'></textarea></td>
				</tr>

				<tr>
					<td><p>Province:</p></td>
					<td>
						<div class="form-group">
							<select name='province' class="form-control">
							{% for p in provinces %}
								<option value="{{p.id|string()}}">{{p.id|string() + " " + p.friendly_name}}</option>
							{% endfor %}
							</select>
						</div>
					</td>
				</tr>

				<tr>
					<td><p>Category:</p></td>
					<td>
						<div class="form-group">
							<select name='category' class="form-control">
							{% for c in categories %}
								<option value="{{c.id|string()}}">{{c.id|string() + " " + c.friendly_name}}</option>
							{% endfor %}
							</select>
						</div>
					</td>
				</tr>
				
				<tr>
					<td><p>Google Search Term</p></td>
					<td><input type='text' size='30' class="form-control" name='google_search_term' width=100%></td>
				</tr>

				<tr>
					<td><p>Upload Image File:</p></td>
					<td><input class="form-control" type='file' size='30' name='image_file'></td>
				</tr>
				<tr>
					<td><p>Input Passphrase</p></td>
					<td><input type='text' size='30' class="form-control" name='input_passphrase' width=100%></td>
				</tr>
				<tr>
					<td><input class="btn btn-primary" type='submit' value='Add'></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>